{% extends "base.html" %}
{% block content %}
<div class="row">
	<br><br>
    <div class="col s10 offset-s1 card-panel">
        <div class="col s12">
            <h2 class="page-title form-header center-align">Create List</h2>
            <!-- form for creating genre -->
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="name" id="name" type="text" required>
                        <label for="subject" class="title">Enter List Name</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="description" name="description" class="materialize-textarea" required></textarea>
                        <label for="description" class="title" required>Enter List Description</label>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn indigo darken-4">
                            <span>Upload Poster</span>
                            <input name="poster" id="poster" type="file">
                        </div>
                        <!-- Use inline style as external not working -->
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Please use 600 X 900 good quality image" style="text-align: center">
                        </div>
                    </div>
                </div>
                <!-- CSRF protection -->
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <div class="row">
                    <div class="col s12 right-align">
                        <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">Submit&nbsp;
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- form ends -->
        </div>
    </div>
</div>
{% endblock %}