{% extends "base.html" %}
{% block content %}
<div class="row">
	<br><br>
    <div class="col s9 card-panel">
        <div class="col s12">
            <h2 class="page-title form-header center-align">Edit {{movie.name}}</h2>
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="name" id="name" type="text"  value="{{movie.name}}" required>
                        <label for="subject" class="title">Edit Movie Name</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="storyline" name="storyline" class="materialize-textarea" required>{{movie.storyline}}</textarea>
                        <label for="storyline" class="title" required>Edit storyline</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="trailer_url" name="trailer_url" type="text" value="{{movie.trailer_url}}" required>
                        <label for="trailer_url" class="title">Edit Traler URL(Please use trailer TMDB website)</label>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn indigo darken-4">
                            <span>Change Poster</span>
                            <input name="poster" id="poster" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload a different poster" style="text-align: center;">
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <div class="row">
                    <div class="col s12 right-align">
                        <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">Submit&nbsp;
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col s3" id="image-div">
        <p>Current Poster:</p><img id="preview-image" width="100%" src="/static/img/{{movie.poster}}">
    </div>
</div>
{% endblock %}