{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col s12">
			<h1 class="center-align"><span class="capitalize page-title">{{genre.name}} Movies</span></h1>
		</div>
		<div class="col s12 center-align">
			<!-- If user id matches with genre creator id show Edit and Genre -->
			{% if user and user.id == genre.user_id %}
			<a href="{{url_for('edit_genre', genre_id=genre.id, user_id=user.id)}}">
		    <button class="btn waves-effect waves-light indigo darken-4 capitalize" type="submit" name="action">Edit&nbsp;
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
			</button>
			</a>
			<a href="{{url_for('delete_genre', genre_id=genre.id, user_id=user.id)}}">
		    <button class="btn waves-effect waves-light red darken-4 capitalize" type="submit" name="action">Delete&nbsp;
				<i class="fa fa-trash-o" aria-hidden="true"></i>
			</button>
			</a>
			<a href="{{url_for('create_movie', genre_id=genre.id, user_id=user.id)}}">
		    <button class="btn waves-effect waves-light green darken-1 capitalize" type="submit" name="action">Add&nbsp;
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
			</a>

			{% endif %}
		</div>
	</div>
	<div class = "row">
		<!-- Show all movies belonging to genre -->
		{% if movies|length == 0 %}
			<p class="center-align">There are no movie in this list.</p>
		{% endif %}
		{% if movies|length == 0 and user and user.id == genre.user_id %}
			<p class="center-align">Press "Add" Button above to add a new movie.</p>
		{% endif %}
		<div class="grid">
		{% for movie in movies %}
			<div class="panel col m3 s12 card">
					<div class="card-image">
						<img src="{{movie.poster_url}}" alt="{{movie.name}}" class="responsive-img">
					</div>
					<div class="card-content">
						<p class="block-with-text">{{movie.storyline}}</p>
					</div>
					<div class="card-action center-align">
						<a href="{{url_for('show_movie_details', genre_id=genre.id, movie_id=movie.id)}}"><span class="page-link movie-title">See Details</span></a>
					</div>
			</div>
		{% endfor %}
		</div>
{% endblock%}