{% extends "base.html" %}
{% block content %}

	<!-- Title of page -->
	<div class = "row cd-container">
		<div class= "col s8 offset-s2">
			<br><br>
			<div class = "center-align welcome-text"><i class="fa fa-quote-left" aria-hidden="true"></i>
				Welcome to the movie catalogue.
				Login and add your own genres or movies lists to the catalogue.
				<i class="fa fa-quote-right" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<!-- Show new genre option is user is registered -->
	<div class="row">
		<div class="col s12 center-align">
			<h1 class="main-page-title">Movie Lists</h1>
			{% if user %}
				<a href="{{url_for('create_new_genre', user_id=user.id)}}">
				<button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">
				New List&nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
				</button>
				</a>
			{% endif %}
		</div>
	</div>
	<!-- Show genre cards for genres -->
	<div class = "row">
		{% for genre in genres %}
			<div class="col s12 m4">
				<div class="card">
					{% if genre.poster_url %}
					<div class="card-image">
						<img class="responsive-img modal-trigger" src="{{genre.poster_url}}" 
						alt="{{genre.name}}" title="{{genre.description}}">
					</div>
					{% else %}
					<div class="card-image">
						<!-- Show kitty placeholder image if there is no poster url -->
						<img class="responsive-img modal-trigger" src="http://placekitten.com/400/600" 
						alt="{{genre.name}}" title="{{genre.description}} representative image">
					</div>
					{% endif %}
					<div class="card-content center-align capitalize">
						<p>{{genre.name}}</p>
					</div>
					<div class="card-action center-align">
						<a href="{{ url_for('show_movies_genre', genre_id=genre.id) }}">
							<span class="page-link">See Catalogue</span>
						</a>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>
{% endblock%}
